{% extends 'base.html' %}

{% block content %}

<h3>Courses</h3>

<a href="{% url 'add_course' %}" class="btn btn-primary mb-3">Add Course</a>

<table class="table table-bordered">
<tr>
    <th>Name</th>
    <th>Code</th>
    {% comment %} <th>Instructor</th> {% endcomment %}
</tr>

{% for c in courses %}
<tr>
    <td>
        <a href="{% url 'course_detail' c.id %}" class="text-decoration-none fw-semibold">
            {{ c.name }}
        </a>
    </td>
    <td>{{ c.code }}</td>
    {% comment %} <td>{{ c.instructor }}</td> {% endcomment %}
</tr>
{% endfor %}
</table>

{% endblock %}